* {
 box-sizing: border-box;
}

li, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: lighten($popColor, 20%);
  text-decoration: none;
  transition: all 100ms ease;
}
a:hover {
  color: $popColor;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
html {
  font-size: 100%;
  line-height: 1.6;
}
@media all and (min-width: 450px) {
  html {
    font-size: 112.5%;
    line-height: 1.6;
  }
}
@media all and (min-width: 1200px) {
  html {
    font-size: 125%;
    line-height: 1.8;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  background: $white;
  color: $bodyText;
  background: url("../images/blu-stripes.png") repeat;
}
main {
  margin: 0 15%;
  padding-top: 4vh;
}
@media only screen and (max-width: $breakpoint) {
  main {
    margin: 0 3%;
  }
}

main > img {
  display: block;
  margin-bottom: 10vh;
  max-width: 85%;
  margin: 2em auto;
}

footer {
  font-size: .8em;
  color: $offWhite;
  text-align: center;
  background: $bodyText;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
legend {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
}
