* {
 box-sizing: border-box;
}

li, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: lighten($popColor, 20%);
  text-decoration: none;
  transition: all 100ms ease;
}
a:hover {
  color: $popColor;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
html {
  font-size: 100%;
  line-height: 1.6;
}
@media all and (min-width: 450px) {
  html {
    font-size: 112.5%;
    line-height: 1.6;
  }
}
@media all and (min-width: 1200px) {
  html {
    font-size: 125%;
    line-height: 1.8;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  background: $white;
  color: $bodyText;
}
main {
  margin: 0 15%;
  padding-top: 16vh;
}

main > img {
  margin-bottom: 10vh;
}

footer {
  font-size: .8em;
  text-align: center;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
legend {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
}
// navigation
.navigation {
  height: 10vh;
}
.nav-container {
  margin: 0 auto;
}
.brand {
  position: absolute;
  padding-top: 10px;
  padding-left: 20px;
}
nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      color: $bodyText;
      font-size: 1.5em;
      a,
      a:visited {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        color: $bodyText;
        text-decoration: none;
        border: 8px solid $white;
        &:hover {
          border: 8px solid $nav-font-color;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 10px 15px;
          line-height: 10px;
        }
      }
    }
  }
}
.nav-dropdown {
  position: absolute;
  z-index: 1;
  display: none;
  li {
    font-size: .8em;
  }
}
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  color: $nav-background;
  height: $nav-height;
  width: $nav-height;
}
@media only screen and (max-width: 798px) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  nav {
   width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
          color: $bodyText;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
// Project Page
.project-article {
  border: 8px solid $nav-font-color;
  padding: 20px 40px;
  margin-bottom: 6em;
  box-shadow: 2px 3px 6px lighten($nav-font-color, 30%);
  display: inline-block;
  width: 100%;
}
.project-article p, h2, h3 {
  margin: 0;
  padding: 0;
}
.project-article h3 {
  font-size: .85em;
  font-weight: 100;
}
.project-article ul li {
    margin-bottom: 2em;
}
.project-date, .project-duration, .blog-date, .project-keywords {
  font-size: .8em;
}
.project-keywords {
  text-transform: uppercase;

}
.blog-date {
  text-align: right;
}
.blog-category {
  float: right;
}
.cmsmap {
  border: 1px solid $nav-font-color;
  width: 100%;
  height: 300px;
  margin: 0 auto 6em auto;
  max-width: auto;
}

.member-menu {
  margin-bottom: 8em;
  li {
    float: left;
    padding: 15px;
  }
  a:hover {
    border-bottom: 2px solid $popColor;
  }
}

.bottom-small {
  margin-bottom: 0;
}
