.navigation {
  height: 12vh;
  background-color: $bodyText;
}
.nav-container {
  margin: 0 auto;
}
.brand {
  position: absolute;
  padding-top: 15px;
  padding-left: 20px;
}
nav {
  float: right;
  padding-top: 2vh;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      color: $offWhite;
      font-size: 1.5em;
      a,
      a:visited {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        color: $offWhite;
        text-decoration: none;
        &:hover {
          color: lighten($popColor, 20%);
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        a {
          padding: 10px 15px;
          line-height: 10px;
        }
      }
    }
  }
}
.nav-dropdown {
  position: absolute;
  display: none;
  background-color: $offWhite;
  box-shadow: 1px 1px 3px lighten($nav-font-color, 10%);
  li {
    font-size: .8em;
    a, a:visited {
    color: $bodyText;
    }
  }
}
.nav-mobile {
  display: none;
  position: absolute;
  top: 10px;
  right: 0;
  color: $nav-background;
  width: $nav-height;
}
@media only screen and (max-width: 798px) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  .nav-dropdown {
    box-shadow: none;
    li {
      a, a:visited {
        color: $offWhite;
      }
    }
  }
  nav {
    width: 100%;
    background-color: $bodyText;
    padding: $nav-height 0 15px;
    z-index: 2000;
    ul {
      display: none;
      margin-top: 50px;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
    display: block;
    background-color: $bodyText;
      margin-top: 3px;
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 0px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $offWhite;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
.member-menu {
  margin-bottom: 8em;
  li {
    float: left;
    padding: 15px;
  }
  a:hover {
    border-bottom: 2px solid $popColor;
  }
}
