@font-face {
    font-family: "si";
    src: url("../icons/socicon.eot");
    src: url("../icons/socicon.eot?#iefix") format('embedded-opentype');
    src: url("../icons/socicon.woff") format("woff");
    src: url('../icons/socicon.ttf') format('truetype');
    src: url('../icons/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../icons/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
    padding-top: 1em;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    transition-property: transform;
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 23px;
    border-radius: 100px;
    margin-right: 10px;
    color: #fefdf7;
    background-color: #6f1718;
}

.soc a:hover {
    z-index: 2;
    transform: scale(1.1);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter:before {
    content:'\e040';
}
.soc-facebook:before {
    content:'\e041';
}
.soc-rss:before {
    content:'\e00b';
}
.soc-instagram:before {
    content:'\e057';
}
