@import url('https://fonts.googleapis.com/css?family=Arimo');

$mainFont             : 'Arimo', sans-serif;

$white                        : #ffffff;
$black                        : #000000;
$gray                         : #707070;
$lightGray                    : #dedcdc;
$darkGray                     : #202020;

$bodyText                     : #414147;
$popColor                     :#43466c;
