@import url('https://fonts.googleapis.com/css?family=Arimo');

$mainFont             : 'Arimo', sans-serif;

$white                        : #ffffff;
$offWhite                     : #fefdf7;
$black                        : #000000;
$gray                         : #707070;
$lightGray                    : #dedcdc;
$darkGray                     : #202020;

$bodyText                     : #414147;
$popColor                     : #6f1718;

$content-width                : 1000px;
$breakpoint                   : 799px;
$nav-height                   : 50px;
$nav-font-color               : #3c3c3c;
$link-hover-color             : #6f1718;
$nav-background               : #3c3c3c;
