#videoDiv {
  border-bottom: 2em solid $bodyText;
  margin-bottom: 5vh;
  position: relative;
  z-index: -1;
}

#videoBlock {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

#videoMessage {
  position: absolute;
  width: 50%;
}

#videoMessage *{ margin:0;
  padding:0.4em
}


video {
  opacity: .7;
  width: 100%;

}

iframe {
  display: block;
  margin: 0 auto;
}
.intrinsic-container {
  height: 0;
  overflow: hidden;
  position: relative;
}

/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}

.intrinsic-container iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top:0;
  width: 100%;
}
