<article class="project-article">
  <h2 class="project-title"><perch:content id="projectName" type="text" label="Project Name" required="true" title="true" /></h2>
  <h3><b>Student:</b> <perch:content id="studentName" type="text" label="Student Name" required="true" /></h3>
  <h3><b>Partner:</b> <a href="<perch:content id="partnerWeb" type="text" label="Partner Website" />"><perch:content id="partnerName" type="text" label="Partner Name" /></a></h3>
  <p class="project-date"><i>Start Date:</i> <perch:content id="startdate" type="date" label="Start Date" format="%d %B %Y" required="true" /></p>
  <p class="project-date"><i>End Date:</i> <perch:content id="enddate" type="date" label="End Date" format="%d %B %Y" required="true" /></p>
  <p class="project-date"><i>Duration:</i> <perch:content id="duration" label="Project Duration" /></p>
  <p class="project-keywords"><perch:content id="keywords" label="Keywords" /></p>
  <perch:content id="body" type="textarea" label="Body" markdown="true" editor="simplemde" required="true" imagewidth="800" />
</article>
