<article class="project-article">
  <h1 class="project-title"><perch:content id="projectName" type="text" label="Project Name" required="true" title="true"></h2>
    <perch:content type="checkbox" id="hasgallery" value="1" label="Gallery?" suppress>
    <perch:if exists="hasgallery">
      <perch:content id="albumSlug" type="text" label="Album Slug" suppress>
      <perch:content id="slug" type="slug" for="albumSlug" suppress>
      <div class="gallery-link">
        <a href="/album.php?s=<perch:content id="slug" type="slug" for="albumSlug">">
          <img src="/images/camera.svg">
        </a>
      </div>
    </perch:if>
  <h3><strong>Student:</strong> <perch:content id="studentName" type="text" label="Student Name" required="true"></h3>
  <perch:if exists="partnerName">
    <h3>
      <strong>Partner:</strong>
      <perch:if exists="partnerWeb">
        <a href="<perch:content id="partnerWeb" type="text" label="Partner Website">">
      </perch:if>
      <perch:content id="partnerName" type="text" label="Partner Name"></a>
    </h3>
  </perch:if>
  <p class="project-date"><i>Start Date:</i> <perch:content id="startdate" type="date" label="Start Date" format="%d %B %Y" required="true"></p>
  <p class="project-date"><i>End Date:</i> <perch:content id="enddate" type="date" label="End Date" format="%d %B %Y" required="true"></p>
  <p class="project-date"><i>Duration:</i> <perch:content id="duration" label="Project Duration"></p>
  <p class="project-keywords"><perch:content id="keywords" label="Keywords"></p>
  <perch:content id="body" type="textarea" label="Body" markdown="true" editor="simplemde" required="true" imagewidth="800" />
  <perch:repeater id="videos" label="Videos">
    <div class="intrinsic-container intrinsic-container-16x9">
    <perch:content id="video" type="youtube" label="YouTube URL" output="embed" />
    </div>
  </perch:repeater>
</article>
