<article class="project-article">
	<h1>
            <perch:blog id="postTitle" type="text" label="Title" required="true" size="xl autowidth" order="1" />
    </h1>
	<p>
        <perch:categories id="categories" set="blog" label="Categories" display-as="checkboxes">
            <a href="archive.php?cat=<perch:category id="catSlug" type="slug" />" class="blog-category">
                <perch:category id="catTitle" type="text" />
            </a>
        </perch:categories>
        <time class="project-date" datetime="<perch:blog id="postDateTime" type="date" label="Date" time="true" format="Y-m-d H:i:s" divider-before="Publishing" />">
            <i>Date:</i> <perch:blog id="postDateTime" type="date" time="true" format="%d %B %Y" />
        </time>
		<perch:if exists="authorGivenName">
            <p class="project-date"><i>Author:</i> <perch:blog id="authorGivenName" type="hidden" /> <perch:blog id="authorFamilyName" type="hidden" /></p>
        </perch:if>
	</p>
    <perch:if exists="image">
        <div>
            <img src="<perch:blog id="image" type="image" width="320" height="240" crop="true" label="Image" order="4" />" alt="<perch:blog id="postTitle" />" />
        </div>
    </perch:if>
    <br />
    <p>
    	<perch:blog id="postDescHTML" type="textarea" label="Post" order="2" editor="markitup" markdown="true" size="xxl autowidth" required="true" />
    </p>
</article>

<perch:blog id="excerpt" type="textarea" label="Excerpt" markdown="true" order="3" suppress="true" size="s" />
<perch:blog id="image" type="image" width="50" height="50" crop="true" suppress="true" />
